/*******************************************************************************
 * columns.layout.scss
 *
 * Styling of the 2 column layout demonstrating the golden rule and asymmetric
 * grids with Singularity.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "singularitygs";

// Set breakpoint values.
$desk : 760px;

/**********************************************
* Grid Setup
**********************************************/
$grids: 1;
$grids: add-grid(12 at $desk);

$gutters: 0;
$gutters: add-gutter(1/4 at $desk);

$gutter-styles: 'split';


$vert-spacing-unit: 15px;

@include breakpoint($desk, true) {
  .panel-display--column-2-reverse {
  // max-width: 1200px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    padding-left:20px;
    padding-right:20px;
  }

  /* Sidebars */
  // Has one sidebar.
  .column-2-reverse-has-one-sidebar {
    // Has the first sidebar.
    &.column-2-reverse-has-sidebar-first {
      .column-2-reverse-region--sidebar-first {
        @include grid-span(12, 1);

      }

    }

    // Has the second sidebar.
    &.column-2-reverse-has-sidebar-second {

      .column-2-reverse-region--sidebar-second {
        @include grid-span(12, 1);
      }
    }
  }


  // Has two sidebars.
  .column-2-reverse-has-two-sidebars {

    .column-2-reverse-region--sidebar-first {
      @include grid-span(6, 2);
    }

    .column-2-reverse-region--sidebar-second {
      @include grid-span(4, 8);
    }
  }
}

/**
*Fix layout for editor screen
*/
#content #panels-dnd-main {
    float: left;
    width: 100%;
    margin: 0 0 10px 0;
  }
