.region-secondary-menu-block {
  @include breakpoint($phone-bp) {
    @include pie-clearfix;
    background-color: #069e9b;
  }
  .secondary-menu {
    float: right;
    padding: 0;
    @include breakpoint($phone-bp) {
      padding-top:4px;
    }

    ul {
      float:right;
      margin:0px;
      padding:0px;
    }
    li {
      padding: 0 11px;
      margin: 0;
      a {
        color: white;
        font-size: 16px;
        border: 1px solid #fff;
        padding: 3px 10px;
      }
    }
  }

  #block-search-api-page-general-search {
    margin: 0;
    @include breakpoint($phone-bp){
      padding-bottom: 10px;
      padding-left:10px;
      width: 40%;
      float:left;
    }
    // Style the search box itself.
    .form-item {
      margin: 0 -6px 0 0;
      display: inline-block;
      @include breakpoint ($phone-bp){
        width:75%;
      }
      input {
        margin: 0;
        padding: 0 6px;
        height: 30px;
        width: (210px-12px);
      }
    }

    .form-actions {
      display: inline;
    }

    // Style the submit button.
    .form-submit {
      text-indent: -1000%;
      width: 33px;
      height: 30px;
      background: #ebebeb url(../images/search.png) no-repeat 9px 7px;
      border: none;
      margin: 0;
      padding: 0;
      border-radius: 0.2em;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 14px;
      line-height: 30px;
      display: inline;
    }

    input[type="text"] {
      color: $darkgrey;
      font-size: 14px;
      line-height: 30px;
    }

    &.contextual-links-region {
      position: inherit;
    }
  }

  .block-locale {
    float: right;
    margin: 0;
    padding: 0;
    @include breakpoint($phone-bp) {
      padding-top:10px;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        float: left;
        list-style-type: none;
        list-style: none;
        padding: 0 5px 0 0;
      }
    }
  }
}

@include breakpoint($tablet-bp) {
  #block-search-api-page-general-search {
    .form-actions {
//      margin-right:150px;
    }
  }


  .region-secondary-menu-block {
    .secondary-menu {
//        margin-top:-42px;
    }


    .block-locale {
//      margin-top: -41px;
      margin-right:15px;
    }
  }

}
